
.detail {
  border-radius: 0 0 20px 20px;
  background-color: $whitesmoke;
  color: $black;
  max-height: 0;
  margin-top: 0px;
  @include centerflex;
  flex-direction: column;
  animation-delay: 1s;
  transition: .2s;
}

.detail__inner {
  visibility: hidden;
  opacity: 0;
  @include centerflex;
  flex-direction: column;
}

.detail__closing-btn {
  margin: 3px;
  padding: 5px;
  font-size: 20px;
  background-color: $black;
  color: $whitesmoke;
  display: inline-block;
  cursor: pointer;
  svg {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .detail__closing-btn {
    padding: 3px;
    font-size: 16px;
  }
}

@keyframes showme {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    max-height: 0;
  }
  to {
    max-height: 200vh;
    height: auto;
  }
}
@keyframes shrink {
  from {
    height: auto;
    max-height: 200vh;
  }
  to {
    max-height: 0;
    display: none;
  }
}
