.header {
  padding: 20px;
  align-items: center;
}

.hello {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .hello__title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 650px) {
  .hello {
    min-height: 22vh;
    .hello__title {
      font-size: 6vw;
      line-height: 8vw;
    }
  }
}
@media only screen and (max-width: 400px) {
  .hello {
    min-height: 25vh;
  }
}

.hello__subtitle {
  position: absolute;
  top: 0;
  margin: 0;
}
