//fonts:
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@400;700&family=Press+Start+2P&display=swap");

$primary-font: "Lato", sans-serif;
$headers-font: "Audiowide", cursive;
$big-font: "Press Start 2P", cursive;

// colors:
$greenish: #3c5947;
$lightgreyish: #ccccce;
$darkgreyish: #545454;
$pinkish: #ff5757;
$yellowish: #ffde59;
$blueish: #38b6ff;
$whitesmoke: #f5f5f5;
$black: #000000;
